---
http_interactions:
- request:
    method: get
    uri: https://slack.com/api/converastions.list?token=<SLACK_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Req-Id:
      - 0c79078b03d0f951c415e778ead0d3b3
      X-Slack-Backend:
      - r
      Content-Type:
      - application/json; charset=utf-8
      X-Via:
      - haproxy-www-wsih,haproxy-edge-pdx-0i42
    body:
      encoding: ASCII-8BIT
      string: '{"ok":false,"error":"unknown_method","req_method":"converastions.list"}'
  recorded_at: Wed, 07 Oct 2020 23:46:16 GMT
recorded_with: VCR 6.0.0
